.collections .collections-container {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collections .collection-item {
  z-index: 1;
  width: 100%;
  margin: 5px 0 50px 0;
  position: relative;
}

.collections .collection-item:hover > .collection-name {
  visibility: hidden;
  opacity: 0;
}
.collections .collection-item .collection-name {
  visibility: visible;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 96px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.collections .collection-item .collection-name span {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 96px;
  padding: 50px;
}
.collections .collection-item .collection-image img {
  width: 100%;
  height: auto;
}
