.navigation {
  border-bottom: 3px solid var(--gray);
  padding: 12px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-item {
  margin: 0 20px;
  color: var(--gray);
}

.navigation-item:hover {
  color: var(--light-gray);
}

/* Home */
.navigation-item:hover > .underbar-home {
  width: 48.25px;
  background: var(--light-gray);
}

.underbar-home {
  position: absolute;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
}

/* Product */
.navigation-item:hover > .underbar-products {
  width: 87.69px;
  background: var(--light-gray);
}

.underbar-products {
  position: absolute;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
}

/* Collections */
.navigation-item:hover > .underbar-collections {
  width: 112.17px;
  background: var(--light-gray);
}

.underbar-collections {
  position: absolute;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
}

/* About us */
.navigation-item:hover > .underbar-about {
  width: 79.97px;
  background: var(--light-gray);
}

.underbar-about {
  position: absolute;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
}

/* Product List */
.navigation .product-list {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid var(--light-gray);
  width: 140px;
  margin-left: -30px;
  background: var(--white);
}

.navigation .product-item:hover > .product-list {
  visibility: visible;
}

.navigation .product-list li {
  list-style: none;
  margin: 2px;
  color: var(--gray);
}

.navigation .product-list li:hover {
  color: var(--light-gray);
}

/* Phone Version  */
.navigation-phone {
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  .navigation {
    visibility: hidden;
  }
  .navigation-phone {
    visibility: visible;
    position: fixed;
    z-index: 10;
    top: 55px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation-phone .nav-phone {
    height: 40px;
    width: 40px;
    background: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .navigation-phone .nav-phone:hover {
    filter: brightness(1.2);
  }
  .navigation-phone .nav-phone .icon {
    color: var(--gray);
  }

  .dropdown-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    height: fit-content;
    transition: all 500ms ease;
  }

  .dropdown-menu .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dropdown-menu .menu .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    transition: background 500ms;
  }

  .dropdown-menu .menu .menu-item:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .menu-primary-enter {
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
  }
  .menu-product-enter {
    transform: translateX(110%);
  }
  .menu-product-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
  }
  .menu-product-exit {
    position: absolute;
  }
  .menu-product-exit-active {
    transform: translateX(110%);
    transition: all 500ms ease;
  }
}
