.card-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container img {
  max-width: 100%;
  height: auto;
}

.card-container .card-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.card-container .card-detail .name-product {
  font-size: 14px;
  color: var(--gray);
}

.card-container .card-detail .price-product {
  font-size: 14px;
  color: var(--gray);
}
