:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #666666;
  --red: #ff5757;
  --gray-payment: #c7c7c7;
  --light-gray: #d2d2d2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  font-family: "Balsamiq Sans", cursive !important;
  background: var(--white) !important;
}

a {
  text-decoration: none !important;
}

.App {
  position: relative;
}
