.search {
  border-bottom: 1px solid var(--light-gray);
  width: 125px;
}

.search .search-icon {
  color: var(--gray);
  margin-right: 5px;
}

.search #search-box {
  border: none;
  font-size: 14px;
  outline: none;
  width: 100px;
}

@media screen and (max-width: 600px) {
  .search {
    transform: scale(0.75);
    margin-left: -15px;
  }
}
